# Load and observe data

Firstly, import necessary modules

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.model_selection import StratifiedKFold
#from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

Read data and concat them into one df

In [41]:
df_train = pd.read_csv(
    'drive/My Drive/data/train.csv',
    #dtype={'Field_34': float}
)
df_test = pd.read_csv('drive/My Drive/data/test.csv')

df = pd.concat([df_train, df_test])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35,43) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (34,42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Get some information about data

In [6]:
df_train.describe()

                 id         label  ...      Field_81      Field_82
count  53030.000000  53030.000000  ...  35981.000000  53030.000000
mean   26514.500000      0.316726  ...    -32.149412      1.668659
std    15308.586724      0.465204  ...     63.442452      1.090910
min        0.000000      0.000000  ...   -290.000000      1.000000
25%    13257.250000      0.000000  ...    -69.000000      1.000000
50%    26514.500000      0.000000  ...      0.000000      1.000000
75%    39771.750000      1.000000  ...      1.000000      2.000000
max    53029.000000      1.000000  ...    238.000000      4.000000

[8 rows x 136 columns]

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53030 entries, 0 to 53029
Columns: 195 entries, id to Field_82
dtypes: float64(133), int64(3), object(59)
memory usage: 78.9+ MB

In [8]:
df_train['label'].value_counts()

0    36234
1    16796
Name: label, dtype: int64

We can see that data is imbalance

# Pre-process data

In [39]:
string_fields = [
    'Field_12',
    'Field_18',
    'Field_46',
    'Field_47',
    'Field_48',
    'Field_49',
    'Field_61',
    'Field_62',
    'Field_65',
    'Field_66',
    'maCv',
    'data.basic_info.locale',
    'currentLocationCity',
    'currentLocationCountry',
    'currentLocationName',
    'currentLocationState',
    'currentLocationState',
    'homeTownCity',
    'homeTownCountry',
    'homeTownName',
    'homeTownState',
    'brief'
]

In [10]:
def getNullCounts(df_temp):
    null_counts = pd.DataFrame(df_temp.isnull().sum(axis = 0))
    null_counts.reset_index(inplace = True)
    null_counts.columns = ['Field', 'Number of null']
    null_counts['% null'] = null_counts['Number of null'] / len(list(df_temp.index))
    null_counts.sort_values(
        ['Number of null'], 
        ascending = False,
        axis = 0,
        inplace = True
    )
    return null_counts

def getBadFields(df_temp):
    null_counts = getNullCounts(df_temp)
    bad_fields = null_counts['Field'][null_counts['% null'] > 0.7]
    return list(bad_fields)

def dropBadFields(df_temp):
    bad_fields = getBadFields(df_temp)
    bad_fields = [item for item in bad_fields if item not in string_fields]
    return df_temp.drop(
        bad_fields,
        axis = 1,
    )

In [40]:
def dropObjectFields(df_temp):
    object_fields = df_temp.loc[:, list(df_temp.dtypes == object)].columns
    object_fields = list(object_fields)
    object_fields = [item for item in object_fields if item not in string_fields]
    return df_temp.drop(
        object_fields,
        axis = 1,
    )
def encodeFields(df_temp):
  for field in string_fields:
    df_temp[field] = df_temp[field].fillna('nan')
    le = LabelEncoder()
    le.fit(list(df_temp[field].unique()))
    df_temp[field] = le.transform(df_temp[field])
  return df_temp

In [42]:
def preProcess(df_temp):
    df_temp = dropBadFields(df_temp)
    df_temp = dropObjectFields(df_temp)
    df_temp = encodeFields(df_temp)
    
    df_temp = df_temp.fillna(0)
    
    return df_temp

In [43]:
df = preProcess(df)

In [44]:
df

          id  label  Field_3  ...   Field_80  Field_81  Field_82
0          0    1.0      1.0  ...   0.000000       0.0         1
1          1    0.0      0.0  ...   0.000000       0.0         1
2          2    0.0      2.0  ...   6.466667       0.0         2
3          3    0.0      0.0  ...   6.466667       0.0         3
4          4    1.0      0.0  ...   6.466667       0.0         3
...      ...    ...      ...  ...        ...       ...       ...
20376  73406    0.0      0.0  ... -10.722222    -160.0         3
20377  73407    0.0      0.0  ...   6.562500       0.0         3
20378  73408    0.0      1.0  ...   0.000000       0.0         1
20379  73409    0.0      0.0  ...   0.000000       0.0         1
20380  73410    0.0      1.0  ...   0.000000       0.0         1

[73411 rows x 157 columns]

# Create and train model

In [45]:
df_train = df[df['id'] < 53030]
df_test = df[df['id'] >= 53030]

df_train = df_train.sample(frac = 1, random_state = 1).reset_index(drop = True)

In [46]:
X_train = df_train.drop(columns = ['label', 'id'])
Y_train = df_train['label']
X_test = df_test.drop(columns = ['label', 'id'])
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)

(53030, 155)
(53030,)
(20381, 155)

In [47]:
creditTree = DecisionTreeClassifier()
parameters = {'max_depth': (10, 20 ,30 ,40, 50, 60, 70, 80, 90, 100),
              'criterion': ('gini', 'entropy')
             }
model = GridSearchCV(estimator = creditTree, 
                     param_grid = parameters
                    )
model.fit(X_train, Y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ('gini', 'entropy'),
                         'max_depth': (10, 20, 30, 40, 50, 60, 70, 80, 90,
                                       100)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [50]:
Y_test = model.predict_proba(X_test)[:, 1]
Y_test
print(model.score(X_train, Y_train))
print(model.best_estimator_)

0.7565151800867433
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [55]:
res_df = pd.DataFrame({'id': df_test['id'], 'label': Y_test})
res_df.to_csv('submission.csv', index=False)

## Some code to double check pre-processing

In [ ]:
print(lr.classes_)
df_train.to_csv('test.csv', index = False)
print(dropObjectFields(df_train).info())
df_train = dropBadFields(df_train)
print(getNullCounts(df_train))