In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'a': ([1] * 100000 + ['X'] +
                         [1] * 100000),
                   'b': ['b'] * 200001})

In [3]:
len(list(df.index))

200001

In [12]:
df.to_csv('test.csv', index=False)
df2 = pd.read_csv('test.csv')

In [ ]:
df2.iloc()

In [5]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

In [6]:
df

   col1  col2
0     1     3
1     2     4

In [7]:
def test(df_temp):
    df_temp.drop(['col1'], axis = 1, inplace = True)

In [8]:
test(df)

In [9]:
df

   col2
0     3
1     4

In [17]:
def test2(def_temp):
    def_temp = def_temp.drop(['col2'], axis = 1, inplace = True)

In [18]:
test2(df)

In [19]:
df

Empty DataFrame
Columns: []
Index: [0, 1]

In [8]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})

In [9]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [10]:
df = pd.get_dummies(df)

In [11]:
df

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1